@import './flex.scss';

body {
  height: 100%;
  // background-color: #000;
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.text-center {
  text-align: center
}
.text-right{
  text-align: right;
}

div{
  box-sizing: border-box;
}

img{
  display: block;
}

.bg_title {
  width: 572px;
  height: 98px;
  padding-top: 22px;
  margin: 0 auto;
  background-image: url("../assets/common/title_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 32px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mh_form{
  width: 606px;
  margin: 0 auto;
  padding: 36px 0;
  .mh_input{
    background-color: rgba(86, 65, 46, 0.45);
    border: 2px solid #FCFFB4;
    border-radius: 8px;
    padding: 16px 40px;
    margin-bottom: 30px;
    line-height: normal;
    width: auto;
    &::after{
      border: 0;
    }
    input{
      font-size: 30px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
    }
  }
  .mh_form_tip{
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #56412E;
    opacity: 0.6;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .mh_form_code{
    width: 189px;
    height: 80px;
    margin: 0 auto;
    background-image: url("../assets/profile/btn_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #5E2F2F;
    margin-left: 34px;
  }
}